/* 清除浮动 */
.clearfix::before, .clearfix::after {
  content: '';
  overflow: hidden;
  display: table;
  height: 0;
}
.clearfix::after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

ul > li {
  list-style: none;
}
/* 阻止移动端页面滑动 */
/** { touch-action: none; }*/

.impred {
  background-color: #dc4141 !important;
  color: #fff !important;
}
.impblue {
  background-color: #6ea6ff !important;
  color: #fff !important;
}
.impdefault {
  /*background-color: #6ea6ff;*/
}
