.listItem {
  font-size: 16px;
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.25rem 10px 0.17rem 10px;
}
.listItem h4 {
  font-size: 0.24rem;
  color: #333;
  width: 60%;
  font-weight: 400;
}
.listItem button {
  font-size: 0.22rem;
  color: #fff;
  background-color: #6ea6ff;
  border: none;
  padding: 4px 4px;
  border-radius: 5px;
  margin-right: 0.1rem;
}
.listItem span {
  font-size: 0.24rem;
  margin-right: 30px;
}
svg[type="ios-arrow-right"] {
  float: right;
  position: relative;
  top: 18px;
}
